

{% load static %}
<div class="preferences">
   <div class="preferences-danger-zone">
      <p class="primary-red font-weight-bold parag">Sensitive</p>
      <label class="font-weight-bold parag">Authorisation Token </label>
      <input class="custom-input" disabled value="{% if token %} {{token}} {% else %} Please contact us. {% endif %}">
      <div class="text-item short-p text-justify">
         <p>
            - Warning: Your API key enables access to your account. Keep your API key private. By copying and sharing the API key with other applications AT YOUR OWN RISK.
            <br>
            - The Sayches REST API allow you to build your own customised minimum viable Sayches clients.
         </p>
         <p>
            <b>Header:</b> <code>Authorization: Token {{token}}</code>
            <br>
            <b>Endpoints:</b> <code>GET /api/post/</code>
            <br>
            <b>Example Request:</b> <code> curl --request GET --location 'https://sayches.com/api/post/' --header 'Authorization: Token {{token}}' </code>
         </p>
      </div>
   </div>
</div>

