

{% load static %}
<div class="preferences">
   <div class="preferences-danger-zone">
      <p class="primary-red font-weight-bold parag">Sensitive</p>
      <label class="font-weight-bold parag">Authorisation Token </label>
      <input class="custom-input" disabled value="{% if token %} {{token}} {% else %} Please contact us. {% endif %}">
      <div class="text-item short-p text-justify">
         Warning: Your API key enables access to your account. Keep your API key private. By copying and sharing the API key with other applications AT YOUR OWN RISK.
         API documentation can be found <a href="{% url 'subsections:docs' %}api">here.</a>
      </div>
   </div>
</div>

