

{% load static %}
<div class="preferences">
   <div class="pref-item">
      <p>Disable Messages</p>
      <label class="switch">
      <input class="toggles" type="checkbox" {% if disable_messages %}checked{% endif %} id="disable_messages">
      <span class="slider round"></span>
      </label>
   </div>
   <div class="pref-item">
      <p>Disable Comments</p>
      <label class="switch">
      <input class="toggles" type="checkbox" {% if disable_comments %}checked{% endif %} id="disable_comments">
      <span class="slider round"></span>
      </label>
   </div>
   <div class="pref-item">
      <p>Disable Ping</p>
      <label class="switch">
      <input class="toggles" type="checkbox" {% if disable_ping %}checked{% endif %} id="disable_ping">
      <span class="slider round"></span>
      </label>
   </div>
   <div class="pref-item">
      <p>Disable Notifications</p>
      <label class="switch">
      <input class="toggles" type="checkbox" {% if disable_notifications %}checked{% endif %} id="disable_notifications">
      <span class="slider round"></span>
      </label>
   </div>
   <div class="pref-item">
      <p class="float-left">Destruction Period</p>
      <select  name="profile_update_time" class="custom-input profile-input setting-custom-select" id="profile_update_time">
      <option value="0" {% if  user.profile_update_time == 0 %}selected{% endif %}>Keep my posts</option>
      <option value="24" {% if  user.profile_update_time == 24 %}selected{% endif %}>24 Hours</option>
      <option value="48" {% if  user.profile_update_time == 48 %}selected{% endif %}>48 Hours</option>
      <option value="72" {% if  user.profile_update_time == 72 %}selected{% endif %}>72 Hours</option>
      </select>
   </div>
   <div class="pref-item">
      <p class="float-left mr-pr-58">Your Alias</p>
      <div></div>
      <select  name="user_nickname" class="custom-input profile-input setting-custom-select" id="user_nickname">
      <option value="Anonymous" {% if  user.alias == 'Anonymous' %}selected{% endif %}>Anonymous</option>
      <option value="Nameless" {% if  user.alias == 'Nameless' %}selected{% endif %}>Nameless</option>
      <option value="Unknown" {% if  user.alias == 'Unknown' %}selected{% endif %}>Unknown</option>
      <option value="Unidentified" {% if  user.alias == 'Unidentified' %}selected{% endif %}>Unidentified</option>
      </select>
   </div>
</div>

