

{% extends 'base/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block othermeta %}
<meta property="og:title" content='Sayches / Invoice'/>
<meta name="twitter:title" content='Sayches / Invoice'>
{% endblock %}
{% block title %}Sayches / Invoice {% if ads.slug %}({{ads.slug}}) {% endif %}{% endblock %}
{% block content %}
<table>
   <tbody>
      <tr>
         <td></td>
         <td class="container" width="600">
            <div class="content">
            <table class="form-box sw-main sw-theme-default" width="100%" cellpadding="0" cellspacing="0">
               <tbody>
                  <tr>
                     <td class="parent-form pa-20">
                        <table width="100%" cellpadding="0" cellspacing="0">
                           <tbody>
                              <tr>
                                 <td>
                                    <h2 class="font-weight-bold f-s-18">Invoice</h2>
                                    <small class="tag">{{ ads.display_payment_status }}</small>
                                    {% if ads.payment_status == "2" %}
                                    <p class="font-weight-bold f-s-13 primary-red text-justify">
                                       This is an overdue invoice. If you have paid within the last 48 hours, please ignore this notice.
                                       {% if ads.to_bitcoin_address %}Send your payment to: <code>{{ ads.to_bitcoin_address }}</code>{% endif %}
                                    </p>
                                    {% endif %}
                                 </td>
                              </tr>
                              <tr>
                                 <td>
                                    <table class="invoice f-s-13">
                                       <tbody>
                                          <tr>
                                             <td>{{ads.user}}
                                                <br>
                                                Invoice #{{ads.slug}}
                                                <br>
                                                {{ads.created_at|date:"M d, Y"}}
                                                <br>
                                                <br>
                                                {% if ads.payment_method %} {{ads.payment_method}} {% endif %}
                                                <br>
                                                {% if ads.payment_date %} {{ads.payment_date}} {% endif %}
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                <table class="invoice-items" cellpadding="0" cellspacing="0">
                                                   <br>
                                                   <br>
                                                   <tbody>
                                                      <tr>
                                                         <td>{% if ads.ad_plan %}{{ads.ad_plan}}{% else %}Ad{% endif %}: {{ads.ad_headline}}<br>{% if ads.ad_start_date and ads.ad_end_date %}{{ads.ad_start_date}} - {{ads.ad_end_date}}{% endif %}</td>
                                                         <td>£{% if ads.ad_price %}{{ads.ad_price|floatformat:2}}{% else %}00.00{% endif %}</td>
                                                      </tr>
                                                      <tr>
                                                         {% if ads.discount %}
                                                         <td>Discount</td>
                                                         <td>-{{ads.discount}}%</td>
                                                         {% endif %}
                                                      </tr>
                                                      <tr class="total">
                                                         <td width="80%">Total</td>
                                                         <td>£{% if ads.amount_due %}{{ads.amount_due|floatformat:2}}{% else %}00.00{% endif %}</td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                              <tr>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
         <td></td>
      </tr>
   </tbody>
</table>
{% endblock %}

