

{% extends 'base/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block othermeta %}
<meta property="og:title" content='Sayches / Advertising'/>
<meta name="twitter:title" content='Sayches / Advertising'>
{% endblock %}
{% block title %}Sayches / Advertising{% endblock %}
{% block content %}
<div class="multi-form-sec">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-lg-10">
            <div class="multi-form-content">
               <form action="/ads/" method="post" id="step1">
                  {% csrf_token %}
                  {% if form.non_field_errors %}
                  {{ form.non_field_errors }}
                  {% endif %}
                  <div id="multi-form" class="form-box">
                     <ul>
                        <li>
                           <a href="#step1">
                           <span class="custom-circle parag">1</span>
                           <span class="parag header-p">Responsibility</span>
                           </a>
                        </li>
                        <li>
                           <a href="#step2">
                           <span class="custom-circle parag">2</span>
                           <span class="parag header-p">Design</span>
                           </a>
                        </li>
                        <li>
                           <a href="#step3">
                           <span class="custom-circle parag">3</span>
                           <span class="parag header-p">Plan</span>
                           </a>
                        </li>
                        <li>
                           <a href="#step4">
                           <span class="custom-circle parag">4</span>
                           <span class="parag header-p">Checkout</span>
                           </a>
                        </li>
                     </ul>
                  </div>
                  <div id="step1">
                     <div class="custom-step-content">
                        <div class="step-heading-box">
                           <br/>
                           <h2 class="parag step-heading">Trustworthy Ad Experience</h2>
                           <p class="step-p text-secondary mt-3 text-center ">Easily set up your ad within the budget that works your business</p>
                        </div>
                           <div class="box">
                              <div class="form-group">
                                 <div>
                                    <p class="text-justify short-p"><strong>By clicking Next</strong>, I represent and warrant that I am authorised to submit this request. I agree to the Sayches' policies (e.g. Privacy Policy, Terms of Servies, Refund Policy). I declare that the advertisement will not contain, in any way, illegal, pornographic, sexual, semi-nude, gambling, religious or political products or services. I acknowledge that my username will appear next to the advertisement. I acknowledge that if the advertisement is rejected or cancelled by either party, there is no way to request a refund (the payments will serve as an operating fee).</p>
                                       {% render_field form.i_agree class="custom-checkbox d-none" %}
                                 </div>
                              </div>
                           </div>
                              <div class="form-group">
                                 <div>
                                    <span id="error"></span>
                                 </div>
                              </div>
                     </div>
                  </div>
            </div>
            <button type="submit" class="primary-button m-auto d-block"
               name="update_profile_basic">Next
            </button>
            </form>
         </div>
      </div>
   </div>
</div>
</div>
</div>
{% endblock %}

