

{% load static %}
{% load widget_tweaks %}
<div id="step-4">
   <div class="custom-step-content">
      <div class="step-heading-box">
         <h2 class="parag step-heading">
            Code of Conduct
         </h2>
      </div>
      <div class="text-wrapper mb-5 mb-5">
         <div class="text-center text-gray custom-scroll-text-step-form">
            <p class="text-justify">❌ Copyright infringement or trademark violation<br />❌ Cyberbullying, harassment, hateful, abusive or hate speech <br />❌ Illegal or certain regulated goods or services<br />❌ Impersonation <br />❌ Nudity, sexual or pornography<br />❌ Private information<br />❌ Promoting suicide or self-harm<br />❌ Spam, misleading or scams<br />❌ Terrorism or violence<br />✅ BE KIND.</p>
            <p class="text-center">Saycehs Anti-Evil Operations Team 🤓</p>
         </div>
      </div>
      <div class="btn-center display-table">
         <button type="submit" class="primary-button">Swim</button>
      </div>
   </div>
</div>
</div>
</div>

