

{% load static %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="theme-color" content="#F7941D">
<link rel="stylesheet" href="{% static 'lib/css/4.0.0-bootstrap.min.css' %}">
<link href="{% static 'lib/css/fontface.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'lib/webfonts/remixicon/remixicon.css' %}">
<link href="{% static 'lib/css/pretty-checkbox.min.css' %}" rel="stylesheet" />
<link href="{% static 'lib/css/select2.min.css' %}" rel="stylesheet" />
<link rel="icon" href="{% static 'assets/images/saychesLogo/favicon.ico' %}" />
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/keyframes.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/media.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/stylesheet.css' %}">

