

{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      {% include "base/outer_base.html" %}
      <meta property="og:title" content="Sayches - Anonymous Social Media" />
      <meta name="twitter:title" content="Sayches - Anonymous Social Media">
      {% include "base/meta_tags.html" %}
      <title>Sayches - Anonymous Social Media</title>
   </head>
   <body class="customLanding">
      <header>
         {% include 'base/header/header.html' %}
      </header>
      <section class="viewHeight">
         <div class="headerContent">
            <div class="hero" >
               <div class="typed-area">
                  <div class="container col-md-9">
                     <h1 class="font-weight-bold mt-5">Anonymous Social Media</h1>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </body>
   <footer class="sticky-footer">
      {% include 'base/footer/footer.html' %}
   </footer>
</html>

