

{% load static %}
<div onclick="addClick('{{ ads.ad_id }}')" class="main-box sidebar-box search-result-box ads">
   <a href="{{ ads.link }}" class="heading sidebar-h" target="_blank" rel="noopener">
      {{ ads.headline }}
      <p class="parag f-s-13">{{ ads.body }}</p>
   </a>
   <br>
   <span class="light-gray f-s-10">Promoted by {{ ads.owner }} ● </span><button type="button" class="light-gray f-s-10 pa-unset btn" data-container="body" data-toggle="popover" data-placement="top"
      data-content="We are not sons of Bill Gates.">
   Why this ad?</button>
</div>
<script src="{% static 'assets/js/ads.js' %}"></script>
<script>$(function () {$('[data-toggle="popover"]').popover()})</script>

